---
import { Image } from "astro:assets";
import dayjs from "@utils/dayjs";
import { DATE_FORMAT } from "@config";
import type { PostData } from "@interfaces/data";
import Heading from "./widgets/Heading.astro";
import PostInfo from "./widgets/PostInfo.astro";
import PostFilter from "./widgets/PostFilter.astro";
import Card from "./temple/Card.astro";
import { Icon } from "astro-icon/components";

const {
  title,
  image,
  pubDate,
  description,
  badge,
  categories = [],
  tags = [],
  word = "0",
  time = "0",
  url = decodeURIComponent(Astro.url.toString()),
  pinned = false, // 是否置顶
} = Astro.props as PostData;

const displayDate = pubDate ? dayjs(pubDate).format(DATE_FORMAT) : "";
---

<article class="border-b border-base-300 pb-6 mb-6 relative">
  <div class="flex flex-col lg:flex-row gap-6">
    <!-- Content Section -->
    <div class="flex-1 flex flex-col justify-between">
      <div>
        <PostInfo pubDate={displayDate} badge={badge} word={word} time={time} />
        <Heading url={url} title={title}>{title}</Heading>
        <p class="text-sm text-base-content/70 mb-4">{description}</p>
      </div>
      <PostFilter categories={categories} tags={tags} />
    </div>

    <!-- Image Section -->
    {
      image && (
        <a href={url} class="lg:w-2/5 block">
          <Image
            src={image}
            alt={title}
            width={800}
            height={400}
            format="webp"
            loading="lazy"
            decoding="async"
            class="w-full h-full object-cover"
          />
        </a>
      )
    }
  </div>
</article>
